<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Found</title>
</head>
<body>
  <h1>Found User:</h1>
  <div class="card">
    <div><%= user.firstName %> <%= user.lastName %></div>
    <div><%= user.email %></div>
    <div><%= user.age %></div>
    <div><%= user.bio %></div>
  </div>
  <a href="/">Go Home</a>
</body>
</html>